body {
    margin: 0px;
    box-sizing: border-box;
  }
  
  .bg-container {
    background-color: #131313;
  }
  
  .side-heading {
    font-family: 'HK Grotesk';
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    margin: 0;
    margin-top: 12px;
    margin-left: 16px; 
  }
  
  .home-page {
    background-size: cover;
    min-height: 60vh;
  }
  
  .home-page-movie-container {
    padding: 16px; /* Adjusted for mobile view */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 60vh;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(24, 24, 24, 0.546875) 38.26%,
      #131313 92.82%,
      #131313 98.68%,
      #131313 108.61%
    );
  }
  
  .movie-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px; /* Adjusted for mobile view */
    line-height: 30px; /* Adjusted for mobile view */
    color: #ffffff;
    margin: 0px;
    margin-bottom: 8px;
  }
  
  .overview {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px; /* Adjusted for mobile view */
    line-height: 20px; /* Adjusted for mobile view */
    color: #ffffff;
    margin: 0;
    margin-bottom: 16px; /* Adjusted for mobile view */
  }
  
  .play-btn {
    padding: 8px 16px; /* Adjusted for mobile view */
    background: #ffffff;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #171f46;
    border: none;
  }

  .no-results-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }

  .search-error {
    height: 200px;
  }

  .search-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }

  .movie-card {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
  }

  .movie-poster {
    height: 130px;
  }
  
  @media (min-width: 768px) {
    .home-page {
      height: 60vh;
      margin-bottom: 48px;
    }
    .home-page-movie-container {
      padding-left: 165px;
      padding-right: 165px;
      justify-content: center;
    }
    .movie-title {
      font-size: 30px;
      line-height: 34px;
      padding-bottom: 24px;
    }
    .overview {
      font-size: 18px;
      line-height: 16px;
      width: 443px;
      margin-bottom: 32px;
    }
    .play-btn {
      width: 74px;
      height: 40px;
      border-radius: 4px;
    }
    .side-heading {
      font-size: 24px;
      line-height: 31px;
      margin: 0;
      margin-left: 135px;
      margin-bottom: 24px;
    }

    .no-results-view {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }

    .search-items {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    .search-error {
      height: 300px;
    }
    .movie-card {
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 5px;
    }

    .movie-poster {
      height: 400px;
    }


  }
  