.nav-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    padding: 0 20px;
    background-color: transparent;
}

.first-container {
    display: flex;
    margin-left: 80px;
    gap: 180px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.web-logo {
    height: 30px;
    margin-left: 150px;

}

.home-popular-container {
    display: flex;
    gap: 15px;
    list-style-type: none; /* Ensure list style is removed */
    padding: 0; /* Reset padding for ul */
    margin: 0; /* Reset margin for ul */
    margin-left: 30px;
} 

.nav-link {
    text-decoration: none; /* Remove underline */
    color: rgb(231, 236, 240);
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 600;
}

.account-search-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 150px;
}

.search-container {
    position: relative; /* Allow absolute positioning of child elements */
    display: flex;
    align-items: center; /* Center items vertically */
}

.search-icon {
    height: 40px;
    cursor: pointer; 
    margin-right: 5px; 
}

.avatar-icon {
    height: 50px;
}


.search-input {
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px; 
    margin-right: 10px;
    display: none;
}

.search-container.open .search-input {
    display: block; 
    width: 400px; 
}


@media screen and (min-width: 769px) {
    .nav-mobile-header-container {
        display: none;
        
    }

    .drop-down-container {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .nav-header-container {
        display: none;
    }



    .nav-mobile-header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 12vh;
        padding: 0px 20px;
        background-color: transparent;
    }

    .web-logo {
        margin-top: 10px;
        margin-left: 40px;
    }

    .search-hamburger-container {
        display: flex;
        gap: 10px;
    }

    .hamburger-icon {
        height: 40px;
        cursor: pointer; 
        margin-right: 5px; 
        margin-left: 5px;
    }

    .drop-down-container {
        display: none; 
        position: absolute; 
        top: 12vh;
        left: 0;
        right: 0;
        background-color: transparent; 
        z-index: 10; 
        padding: 10px; 
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .drop-down-container.open {
        display: flex; 
        justify-content: space-between;
        align-items: center; 
    }
    
    .drop-down-nav-links {
        display: flex; 
        justify-content: space-around;
        margin-left: 70px;
        gap: 35px;
    }

    .drop-navs {
        list-style-type: none; 
    }
    
    .drop-navs a {
        text-decoration: none; 
        color: rgb(239, 241, 243); 
    }
    
    
    .drop-down-close-icon {
        cursor: pointer; 
        height: 30px;
    }

    .hamburger-button,
    .close-button {
        background: none; /* Remove background */
        border: none; /* Remove border */
        padding: 0; /* Remove padding */
        cursor: pointer; /* Change cursor to pointer */
    }

    .hamburger-button:focus,
    .close-button:focus {
        outline: none; 
    }

    .search-container.open .search-input {
        width: 150px;
    }

    .search-icon {
        cursor: pointer; 
    }

    .drop-down-close-icon {
        height: 22px;
        margin-right: 80px;
    }

}

